body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  border: 1px solid black;
}

/* ////////NAV BAR//////// */

.NavBar{
  text-align: center;
}

.NavBar li {
  display: inline-block;
  margin: 10px 10px 10px 10px;
  text-decoration: none;

}
.NavBar li a {
  text-decoration: none;
}

.NavBar li:hover{
 color: rgb(39, 155, 39);
}

/* ////////Login Singup//////// */

.logo{
  width: 40%;
  margin: 0px auto;
}

/* ////////Trash Items//////// */

.trashImage {
  max-width: 200px;
}

/* ////////Welcome Page/////// */
.welcome, .profileCard{
  text-align: center;
  margin: 0px auto;
}

/* ////////Profile Page/////// */
