body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * {
  border: 1px solid black;
  
} */


/* ////////NAV BAR//////// */

.NavBar{
  text-align: center;
}

.NavBar li {
  display: inline-block;
  margin: 10px 10px 10px 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;

}
.NavBar li a {
  text-decoration: none;
}

.NavBar li:hover{
 color: rgb(39, 155, 39);
}

/* ////////Login Singup//////// */

.logo{
  width: 40%;
  margin: 0px auto;
}

/* ////////Trash Items//////// */

.trashImage {
  max-width: 150px;
}

.trashCard{
  margin: 5px 10px;
  padding: 10px;
  background-color: rgb(245,245,245);
}
/* color: rgb(203, 236, 203); */


.trashCard h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
}

/* ////////Welcome Page/////// */
.welcome, .profileCard{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px auto;
  color: rgb(74,74,74);

}

/* ////////Profile Page/////// */
.profileTrash{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


